body{
    background-color: #d2d6de;
}
.wrapper .login-box{
    margin:12% auto;
}
.login-box-body .login-logo{
    margin-bottom: 0;
}
.login-logo h3.reg-header{
    margin-top:-20px;
    margin-bottom:20px;
}
.not-valid-email{
    background-color: #ffbec0;
    padding:5px;
    margin:0 0 10px 0;
    display: block;
    text-align: center;
}